/*! password.css | MIT License | github.com/pezy */

.password-header {
    padding: 40px 0 20px;
    background-color: transparent;
    border-bottom: 0;
}

.header-logo {
     display: block;
     width: 48px;
     height: 48px;
     margin: 0 auto;
     color: #333;
 }

.password-form {
     width: 340px;
     margin: 0 auto;
     box-sizing: border-box;
 }

 .password-form label {
     display: block;
     margin-bottom: 7px;
     font-size: 13px;
     font-weight: normal;
 }

.password-form-header {
     padding: 10px 0;
     margin-bottom: 15px;
     color: #333;
     text-align: center;
     text-shadow: none;
     background-color: transparent;
     border: 0;
 }

.password-form-header h1 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.5px;
}

.password-form-body {
     border-top: 1px solid #d8dee2;
     border-radius: 5px;
     padding: 20px;
     font-size: 14px;
     background-color: #fff;
     border: 1px solid #d8dee2;
 }